# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.xlsx
*_mix
*_out*
build/
*.so
*.zip
*.log
/modelsWithCudnn
Constant/
log/
*.o
*.out
*.bin
*.a
*.tmp
*.pb
*.onnx
*.tar
*.run
